Repository DevopsArtFactory/terraform-provisioning: changes, and which Atlantis projects are due for each by the changed paths.
All: init/zerone-id, vpc/tmcd_apnortheast2, vpc/testd_apnortheast2, iam/zerone-id, kms/zerone-id/ap-northeast-2, ssm/zerone-id/ap-northeast-2, github/springboot-sample, github/terraform-provisioning

atlantis.yaml:

version: 3
automerge: true
projects:
  - name: init/zerone-id
    dir: terraform/init/zerone-id
    workspace: default
    terraform_version: 1.3.7
    autoplan:
      when_modified: [
         "*.tf"
      ]
      enabled: true
    apply_requirements: []
    workflow: id

  - name: vpc/tmcd_apnortheast2
    dir: terraform/vpc/tmcd_apnortheast2
    workspace: default
    terraform_version: 1.5.7
    autoplan:
      when_modified: [
         "*.tf",
         "*.tfvars"
      ]
      enabled: true
    apply_requirements: []
    workflow: id

  - name: vpc/testd_apnortheast2
    dir: terraform/vpc/testd_apnortheast2
    workspace: default
    terraform_version: 1.5.7
    autoplan:
      when_modified: [
         "*.tf",
          "*.tfvars"
      ]
      enabled: true
    apply_requirements: []
    workflow: id

  - name: iam/zerone-id
    dir: terraform/iam/zerone-id
    workspace: default
    terraform_version: 1.5.7
    autoplan:
      when_modified: [
         "*.tf"
      ]
      enabled: true
    apply_requirements: []
    workflow: id    

  - name: kms/zerone-id/ap-northeast-2
    dir: terraform/kms/zerone-id/ap-northeast-2
    workspace: default
    terraform_version: 1.7.0
    autoplan:
      when_modified: [
         "*.tf"
      ]
      enabled: true
    apply_requirements: []
    workflow: id  
    
  - name: ssm/zerone-id/ap-northeast-2
    dir: terraform/ssm/zerone-id/ap-northeast-2
    workspace: default
    terraform_version: 1.7.0
    autoplan:
      when_modified: [
         "*.tf",
         "secrets.sops.yaml"
      ]
      enabled: true
    apply_requirements: []
    workflow: id  
    
  - name: iam/zerone-id
    dir: terraform/iam/zerone-id
    workspace: default
    terraform_version: 1.7.0
    autoplan:
      when_modified: [
         "*.tf"
      ]
      enabled: true
    apply_requirements: []
    workflow: id  
### github
  - name: github/springboot-sample
    dir: github/springboot-sample
    workspace: default
    terraform_version: 1.7.0
    autoplan:
      when_modified: [
         "*.tf",
         "*.yaml"
      ]
      enabled: true
    apply_requirements: []
    workflow: github  

  - name: github/terraform-provisioning
    dir: github/terraform-provisioning
    workspace: default
    terraform_version: 1.7.0
    autoplan:
      when_modified: [
         "*.tf",
         "*.yaml"
      ]
      enabled: true
    apply_requirements: []
    workflow: github  


#### Workflows #####
workflows:
  # id
  id:
    plan:
      steps:
        - init:
            extra_args: [
              '-backend-config="role_arn=arn:aws:iam::066346343248:role/atlantis-zerone-id-admin"',
              '-upgrade=false'
            ]
        - plan:
            extra_args: [
              "-var 'assume_role_arn=arn:aws:iam::066346343248:role/atlantis-zerone-id-admin'"
            ]
    apply:
      steps:
        - apply

  # github
  github:
    plan:
      steps:
        - init:
            extra_args: [
              '-backend-config="role_arn=arn:aws:iam::066346343248:role/atlantis-zerone-id-admin"',
              '-upgrade=false'
            ]
        - plan:
            extra_args: [
              "-var 'assume_role_arn=arn:aws:iam::066346343248:role/atlantis-zerone-id-admin'"
            ]
    apply:
      steps:
        - apply

add s3 and modify service code
  terraform/iam/zerone-id/policy_app-universal.tf
  terraform/iam/zerone-id/role_app-demoapp.tf
  terraform/iam/zerone-id/role_gitaction.tf
  terraform/s3/zerone-id/.terraform.lock.hcl
  terraform/s3/zerone-id/backend.tf
  terraform/s3/zerone-id/output.tf
  terraform/s3/zerone-id/provider.tf
  terraform/s3/zerone-id/service_deployment.tf
  terraform/s3/zerone-id/terraform.tfvars
  terraform/s3/zerone-id/var_global.tf
  terraform/s3/zerone-id/variables.tf
  terraform/services/demoapp/_module/service/service.tf
  terraform/services/demoapp/_module/service/variables.tf
  terraform/services/demoapp/tmcd_apnortheast2/service.tf
Due: iam/zerone-id

Add s3 and modify github action role
  atlantis.yaml
  terraform/iam/zerone-id/role_gitaction.tf
  terraform/s3/zerone-id/tmc_service_deployment.tf
Due: iam/zerone-id

modify demoapp iam role and create service resource
  atlantis.yaml
  terraform/iam/zerone-id/policy_app-universal.tf
  terraform/services/demoapp/_module/service/service.tf
  terraform/services/demoapp/tmcd_apnortheast2/output
  terraform/services/demoapp/tmcd_apnortheast2/service.tf
Due: iam/zerone-id

modify demo codebuild
  terraform/codebuild/zerone-id/tmcd_apnortheast2/deployment_demo.tf
  terraform/codebuild/zerone-id/tmcd_apnortheast2/locals.tf
Due: none

modify jenkins iam role
  terraform/iam/zerone-id/role_jenkins.tf
Due: iam/zerone-id

modify nodegroup template
  terraform/eks/_module/node_group.tf
  terraform/eks/_module/variables.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-sjiq/output
Due: none

add tmcdapne2-nhwy eks cluster
  atlantis.yaml
  terraform/eks/tmcd_apnortheast2/remote_state.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/.terraform.lock.hcl
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/backend.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/cluster.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/locals.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/netshoot.yaml
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/outputs.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/provider.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/remote_state.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/terraform.tfvars
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/var_global.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/variables.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-sjiq/.terraform.lock.hcl
Due: none

add tmcdapne2-nhwy eks cluster
  atlantis.yaml
  terraform/eks/_module/access_entries.tf
  terraform/eks/_module/aws_auth.tf
  terraform/eks/_module/node_group.tf
  terraform/eks/_module/variables.tf
  terraform/eks/tmcd_apnortheast2/remote_state.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/.terraform.lock.hcl
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/backend.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/cluster.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/locals.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/netshoot.yaml
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/outputs.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/provider.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/remote_state.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/terraform.tfvars
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/var_global.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/variables.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-sjiq/.terraform.lock.hcl
Due: none

modify eks code
  terraform/eks/_module/cluster.tf
  terraform/eks/_module/variables.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/cluster.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/locals.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/terraform.tfvars
Due: none

modify eks code
  atlantis.yaml
Due: none

remove ingress
  terraform/eks/_module/cluster.tf
Due: none

Add eks cluster and vpc tag
  atlantis.yaml
  terraform/eks/_module/cluster.tf
  terraform/eks/tmcd_apnortheast2/tmcdapne2-nhwy/terraform.tfvars
  terraform/vpc/tmcd_apnortheast2/terraform.tfvars
  terraform/vpc/tmcd_apnortheast2/vpc_tags.tf
Due: vpc/tmcd_apnortheast2

add github_token ssm
  terraform/ssm/zerone-id/ap-northeast-2/github_token.tf
Due: ssm/zerone-id/ap-northeast-2

modify demoapp role
  terraform/iam/zerone-id/remote_state.tf
  terraform/iam/zerone-id/role_app-demoapp.tf
  terraform/variables/var_global.tf
Due: iam/zerone-id

reset
  terraform/iam/zerone-id/remote_state.tf
  terraform/iam/zerone-id/role_app-demoapp.tf
Due: iam/zerone-id

modify demoapp role for eks
  terraform/iam/zerone-id/remote_state.tf
  terraform/iam/zerone-id/role_app-demoapp.tf
  terraform/variables/var_global.tf
Due: iam/zerone-id

add infr github token
  github/springboot-sample/secret.tf
  github/springboot-sample/secrets.sops.yaml
Due: github/springboot-sample

add datadog integration with aws
  atlantis.yaml
  datadog/integration/.terraform.lock.hcl
  datadog/integration/backend.tf
  datadog/integration/integration.tf
  datadog/integration/provider.tf
  datadog/integration/variables.tf
  datadog/integration/version.tf
  datadog/provider.tf
  datadog/version.tf
  terraform/iam/zerone-id/role_DatadogAWSIntegrationRole.tf
  terraform/iam/zerone-id/role_app-demoapp.tf
  terraform/iam/zerone-id/role_jenkins.tf
  terraform/iam/zerone-id/variables.tf
  terraform/variables/var_global.tf
Due: iam/zerone-id

modify datadog role external id
  terraform/iam/zerone-id/variables.tf
Due: iam/zerone-id

prepare vpc flow log
  terraform/s3/zerone-id/output.tf
  terraform/s3/zerone-id/tmcpapnd2_vpcflow_log.tf
  terraform/variables/var_global.tf
  terraform/vpc/tmcd_apnortheast2/remote_state.tf
  terraform/vpc/tmcd_apnortheast2/terraform.tfvars
  terraform/vpc/tmcd_apnortheast2/vpc_flowlog.tf
Due: vpc/tmcd_apnortheast2

prepare sumologic
  sumologic/collector/.terraform.lock.hcl
  sumologic/collector/backend.tf
  sumologic/collector/output.tf
  sumologic/collector/provider.tf
  sumologic/collector/terraform.tfvars
  sumologic/collector/variables.tf
  sumologic/partition/.terraform.lock.hcl
  sumologic/partition/backend.tf
  sumologic/partition/provider.tf
  sumologic/partition/variables.tf
  sumologic/provider.tf
  sumologic/sources/vpcflow/.terraform.lock.hcl
  sumologic/sources/vpcflow/backend.tf
  sumologic/sources/vpcflow/locals.tf
  sumologic/sources/vpcflow/provider.tf
  sumologic/sources/vpcflow/remote_state.tf
  sumologic/sources/vpcflow/terraform.tfvars
  sumologic/sources/vpcflow/var_global.tf
  sumologic/sources/vpcflow/variables.tf
  sumologic/sources/vpcflow/vpcflow_source.tf
  sumologic/variables/var_global.tf
  sumologic/variables/variables.tf
  terraform/iam/zerone-id/role_sumologic-role.tf
  terraform/s3/zerone-id/tmcdapne2_vpcflow_log.tf
Due: iam/zerone-id

Add sumologic partition and collector for vpcflow log
  atlantis.yaml
  sumologic/collector/collector_vpcflowlog.tf
  sumologic/partition/partition_vpcflowlog.tf
  sumologic/provider.tf
Due: none

add vpc flow log s3 and sumologic iam role
  terraform/iam/zerone-id/role_sumologic-role.tf
  terraform/s3/zerone-id/tmcdapne2_vpcflow_log.tf
  terraform/variables/var_global.tf
Due: iam/zerone-id

enable vpc flowlog on tmcdapne2
  atlantis.yaml
  terraform/s3/zerone-id/output.tf
  terraform/variables/var_global.tf
  terraform/vpc/tmcd_apnortheast2/locals.tf
  terraform/vpc/tmcd_apnortheast2/remote_state.tf
  terraform/vpc/tmcd_apnortheast2/terraform.tfvars
  terraform/vpc/tmcd_apnortheast2/vpc.tf
  terraform/vpc/tmcd_apnortheast2/vpc_flowlog.tf
Due: vpc/tmcd_apnortheast2

add source for vpcflowlog
  atlantis.yaml
  sumologic/collector/output.tf
  sumologic/sources/vpcflow/locals.tf
  sumologic/sources/vpcflow/remote_state.tf
  sumologic/sources/vpcflow/vpcflow_source.tf
Due: none

change to origin
  sumologic/collector/collector_vpcflowlog.tf
  sumologic/partition/partition_vpcflowlog.tf
  sumologic/sources/vpcflow/locals.tf
  sumologic/sources/vpcflow/vpcflow_source.tf
Due: none

Add datadog monitor
  datadog/integration/version.tf
  datadog/monitor/.terraform.lock.hcl
  datadog/monitor/atlantis_service_running_count.tf
  datadog/monitor/backend.tf
  datadog/monitor/provider.tf
  datadog/monitor/variables.tf
  datadog/provider.tf
  datadog/version.tf
Due: none

Add slack integation with datadog
  atlantis.yaml
  datadog/integration/slack_integration.tf
Due: none

Add monitor for atlantis
  atlantis.yaml
  datadog/monitor/atlantis_service_running_count.tf
Due: none

Add test dashboard on datadog
  atlantis.yaml
  datadog/dashboard/.terraform.lock.hcl
  datadog/dashboard/backend.tf
  datadog/dashboard/provider.tf
  datadog/dashboard/test_dashboard.tf
  datadog/dashboard/variables.tf
Due: none

Add sample.tf to ecr
  terraform/ecr/zerone-id/ap-northeast-2/sample.tf
Due: none

add ecr repo
  atlantis.yaml
  terraform/ecr/etevers-id/ap-northeast-2/.terraform.lock.hcl
  terraform/ecr/etevers-id/ap-northeast-2/backend.tf
  terraform/ecr/etevers-id/ap-northeast-2/demoapp.tf
  terraform/ecr/etevers-id/ap-northeast-2/provider.tf
  terraform/ecr/etevers-id/ap-northeast-2/sample.tf
  terraform/ecr/etevers-id/ap-northeast-2/var_global.tf
  terraform/ecr/etevers-id/ap-northeast-2/variables.tf
Due: none

add kms
  atlantis.yaml
  terraform/kms/devart-id/ap-northeast-2/.terraform.lock.hcl
  terraform/kms/devart-id/ap-northeast-2/backend.tf
  terraform/kms/devart-id/ap-northeast-2/deployment_common.tf
  terraform/kms/devart-id/ap-northeast-2/outputs.tf
  terraform/kms/devart-id/ap-northeast-2/provider.tf
  terraform/kms/devart-id/ap-northeast-2/remote_state.tf
  terraform/kms/devart-id/ap-northeast-2/sops_zerone-id.tf
  terraform/kms/devart-id/ap-northeast-2/terraform.tfvars
  terraform/kms/devart-id/ap-northeast-2/var_global.tf
  terraform/kms/devart-id/ap-northeast-2/variables.tf
  terraform/kms/devart-id/outputs.tf
  terraform/kms/devart-id/provider.tf
  terraform/kms/devart-id/variables.tf
Due: none

add kms
  terraform/kms/devart-id/ap-northeast-2/test.tf
Due: none

test
  terraform/kms/devart-id/ap-northeast-2/test.tf
Due: none

udpate code: for eks 1.32
  terraform/eks/_module/addons.tf
  terraform/eks/_module/aws_loadbalancer_controller.tf
  terraform/eks/_module/variables.tf
Due: none
